<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cc_payment>
                <payment_action>authorize</payment_action><!-- You can use another methor like capture  -->
                <active>1</active>
                <title>Credit Card Payment</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
                <allowed_currencies>USD,UAH,RUB,EUR</allowed_currencies>
                <cctypes>VI,MC</cctypes>
                <model>ElogicCreditCardAdapter</model>
                <connection_type>built_in_form</connection_type>
                <mode>sandbox</mode>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <debug>1</debug>
                <sandbox_public_key></sandbox_public_key>
                <sandbox_private_key></sandbox_private_key>
                <production_public_key></production_public_key>
                <production_private_key></production_private_key>
                <order_prefix></order_prefix>

            </cc_payment>
        </payment>
    </default>
</config>
