<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="luxury_tax" translate="label" type="text" sortOrder="304" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Luxury Tax</label>
            <tab>sales</tab>
            <resource>Palamarchuk_LuxuryTax::system</resource>
            <group id="cells_colour_in_order_grid_settings" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Luxury tax cell`s colour settings</label>
                <field id="less_100" translate="label comment" type="text" sortOrder="20" showInWebsite="1"
                       showInStore="1" showInDefault="1" canRestore="1">
                    <label>less_100</label>
                    <comment>
                        <![CDATA[for cells with luxury tax less than 100.0]]></comment>
                    <frontend_model>Palamarchuk\LuxuryTax\Block\ColorPicker</frontend_model>
                </field>
                <field id="bigger_100_less_1000" translate="label comment" type="text" sortOrder="20" showInWebsite="1"
                       showInStore="1" showInDefault="1" canRestore="1">
                    <label>bigger_100_less_1000</label>
                    <comment>
                        <![CDATA[for cells with luxury tax bigger than 100.0 and less than 1000.0]]></comment>
                    <frontend_model>Palamarchuk\LuxuryTax\Block\ColorPicker</frontend_model>
                </field>
                <field id="bigger_1000" translate="label comment" type="text" sortOrder="20" showInWebsite="1"
                       showInStore="1" showInDefault="1" canRestore="1">
                    <label>bigger_1000</label>
                    <comment>
                        <![CDATA[for cells with luxury tax bigger than 1000.0]]></comment>
                    <frontend_model>Palamarchuk\LuxuryTax\Block\ColorPicker</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
