<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="luxury_taxes_data_source" xsi:type="string">
                    Palamarchuk\LuxuryTax\Model\ResourceModel\LuxuryTax\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Palamarchuk\LuxuryTax\Model\ResourceModel\LuxuryTax\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">luxury_tax_entity</argument>
            <argument name="resourceModel" xsi:type="string">Palamarchuk\LuxuryTax\Model\ResourceModel\LuxuryTax
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Customer\Block\Adminhtml\Group\Edit\Form">
        <plugin name="add_form_field" type="Palamarchuk\LuxuryTax\Plugin\CustomerGroupFormFieldPlugin" sortOrder="1"/>
    </type>
<!--    <preference for="Magento\Customer\Block\Adminhtml\Group\Edit\Form"-->
<!--                type="Palamarchuk\LuxuryTax\Block\Adminhtml\CustomerGroup\Edit\Form"/>-->

</config>
