<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="luxury_taxes_data_source" xsi:type="string">
                    Palamarchuk\LuxuryTax\Model\ResourceModel\LuxuryTax\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Palamarchuk\LuxuryTax\Model\ResourceModel\LuxuryTax\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">luxury_tax_entity</argument>
            <argument name="resourceModel" xsi:type="string">Palamarchuk\LuxuryTax\Model\ResourceModel\LuxuryTax
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Customer\Block\Adminhtml\Group\Edit\Form">
        <plugin name="Palamarchuk\LuxuryTax\Plugin\CustomerGroupFormFieldPlugin"
                type="Palamarchuk\LuxuryTax\Plugin\CustomerGroupFormFieldPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Customer\Api\GroupRepositoryInterface">
        <plugin name="Palamarchuk\LuxuryTax\Plugin\CustomerGroupRepositoryPlugin"
                type="Palamarchuk\LuxuryTax\Plugin\CustomerGroupRepositoryPlugin" sortOrder="1"/>
    </type>
    <!--Sync the sales_order table and sales_order_grid-->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="luxury_tax_amount" xsi:type="string">sales_order.luxury_tax_amount</item>
                <item name="base_luxury_tax_amount" xsi:type="string">sales_order.base_luxury_tax_amount</item>
            </argument>
        </arguments>
    </virtualType>
</config>
