<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer instance="Palamarchuk\LuxuryTax\Observer\Sales\SetLuxuryTaxOrderAttribute"
                  name="palamarchuk_luxury_tax_order_attribute_observer_sales_order_save_after"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer instance="Palamarchuk\LuxuryTax\Observer\Sales\SetRefundedLuxuryTaxAmount"
                  name="palamarchuk_luxury_tax_refund_observer_sales_order_creditmemo_save_after"/>
    </event>
</config>
